/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'baker-signet-web', 'Baker', 'Open Sans', sans-serif;
	 background:url(../images/bg.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	 background-size: cover;
	 background-position: center;
	 background-position:100% 100%;
}
/*---start-wrap-----*/
.wrap{
	width:95%;
	margin:0 auto;
}
.header{
	margin-top:1em;
}
.header-left{
	float:none;
	width:100%;
}
.header_middle{
	float:none;
	margin:0;
	width:100%;
}
.header-right{
	float:left;
	width:100%;
}
.top-left-grid{
	background:#2da5da;
}
.header-left-bottom{
	margin-top:10px;
}
.icon-dropdown{
	float:left;
}
/**** icon dropdown ******/
.wrapper-dropdown-3 {
    /* Size & position */
    position: relative;
    margin: 0 auto;
    padding:10px;

    /* Styles */
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.wrapper-dropdown-3 i.dropdown-icon{
	width:70px;
	height:36px;
	display:block;
	background:url(../images/logo.png) -20px -10px;
	background-size: 70px;
	
}
.wrapper-dropdown-3 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width:130px;
    margin-top:10px;
    /* Styles */
    background:#0c203c;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    /* Hiding */
    max-height: 0;
    overflow: hidden;
    z-index:1;
}

.wrapper-dropdown-3 .dropdown li:first-child a{
	border-top:none;
}
.wrapper-dropdown-3 .dropdown li a {
    display: block;
    text-decoration: none;
    color:#9DAEC0;
    font-size:0.8em;
    border-top:1px solid #243750;
    padding: 10px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
/* Hover state */
.wrapper-dropdown-3 .dropdown li:hover a {
    color: #FFF;
    background:#2da5da;
}
/* Active state */
.wrapper-dropdown-3.active {
    background: #1985B4;
    color:#FFF;
}
.wrapper-dropdown-3.active .dropdown {
    max-height: 400px;
}
.menu {
	float:left;
    z-index: 1;
}
.toggleMenu {
    display:  none;
    padding:15px 15px; 
}
.toggleMenu:hover{
	background:#1985B4;
}
.toggleMenu span{
	width:25px;
	height:25px;
	display:block;
	background:url(../images/sprite.png) no-repeat -520px -20px;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
}
.nav li a{
     font-size:0.8em;
     font-weight:600;
	 padding:25px 23px;
	 border-right:1px solid #52b5e1;
	 text-transform:uppercase;
	 color:#24476c;
	 font-family: 'baker-signet-web', 'Baker', 'Open Sans', sans-serif;
	 -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.nav li:first-child a{
  border-left:1px solid #52b5e1;	
}
.nav li a:hover{
	color:#FFF;
	background:#1985B4;
}
.nav li {
    position: relative;
}
.nav > li {
   display:inline-block;
   float:left;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
	width:200px;
    position: absolute;
    background:#0A203C;
    top:70px;
    z-index:1;
    opacity: 0;
	visibility: hidden;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out; 
}
.nav > li.hover > ul {
  		opacity: 1;
		visibility: visible;
}
.menu ul li li:first-child > a:after {
		content: '';
		position: absolute;
		left: 40px;
		top: -10px;
		border-left:10px solid transparent;
		border-right:10px solid transparent;
		border-bottom:10px solid #171D1F;
	}	
.menu ul li li:first-child a{
	border-top:none;
	border-left:none;
}
.nav li li a {
    display: block;
    position: relative;
    z-index:100;
    padding:12px 20px;
    color:#9DAEC0;
    text-transform:none;
    border-top:1px solid #253B57;
    border-right:none;
    font-family:"Open Sans", sans-serif;
     -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.nav li li a:hover{
	background:#2da5da;
	color:#FFF;
}
 .active {
        display: block;
        background:#1985B4;
}
    .nav {
	    list-style: none;
	     *zoom: 1;
	     width:75%;
		 position: absolute;
		 left:4em;
		 background:#2DA5DA;
		 top:4.6em;
		 z-index:1;
    }
    .nav li ul{
    	width:100%;
    }
    .nav > li.hover > ul {
        width:100%;
    }
    .nav > li {
        float: none;
        display:block;
    }
   .nav > li > .parent:after{
   	   right:15px;
   }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
    .nav li ul {
    	transition:none;
    	-webkit-transition:none;
    	-moz-transition:none;
    	-o-transition:none;
    }
    .nav li:first-child a{
    	border-left:none;
    }
    .nav li a{
    	border-right:none;
    	border-bottom:1px solid #52B5E1;
    	padding:10px 20px;
    }
    .nav li li a{
    	border-bottom:none;
    }
/*---start-top-search-box-----*/
.top-search-box{
	background: #2F5C94;
	padding:3px 0px 3px 5px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}
.top-search-box input[type="text"]{
	background: none;
	border: none;
	outline: none;
	font-family: 'baker-signet-web', 'Baker', 'Open Sans', sans-serif;
	color:#BBCDE2;
	font-size:0.8em;
	font-style: italic;
	padding:5px;
	width:98%;
	margin:0;
}
.top-search-box input[type="text"]:focus{
	color:#FFF;
}
.right_bt{
	background: url(../images/search.png) no-repeat #1C7BA5  center;
	border: none;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	padding:20px;
	outline: none;
	cursor: pointer;
	margin:8px 10px;
	float:right;
}
.right_bt:hover{
	background-color:#1274A0;
}
.box{
	position:absolute;
	top:-200px;
	width:100%;
	color:#7F7F7F;
	margin:auto;
	padding:0px;
	z-index:999999;
	text-align:center;
	left:0px;
 }
.box_content_center{
	background-color:#111;
	color:#FFFFFF;
	width: 95%;
	margin: 0 auto;
 }
a.boxclose{
	cursor:pointer;
	padding:5px 0px; 
	text-align:center;
    display:block; 
    float:right; 
    font-size:0.8em;     
    color;#FFF;
 }
.form_content{
	padding:10px 15px 10px 15px; 
	text-align:left;
 }
/*---End-top-search-box-----*/
/*----//end-header-nav-with-search-box-----*/
/*---start-top-social-icon----*/
.top-social-icons ul li{
	float:left;
	margin-left:10%;	
}
.top-social-icons ul li:first-child {
   margin-left:0;
}
.top-social-icons li a{
	padding:2.5em;
	display: block;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-webkit-box-shadow:inset 0px 1px 0px rgba(123, 175, 231, 0.63), 0px 1px 5px #010911;
		-moz-box-shadow:inset 0px 1px 0px rgba(123, 175, 231, 0.63), 0px 1px 5px #010911;
		-o-box-shadow:inset 0px 1px 0px rgba(123, 175, 231, 0.63), 0px 1px 5px #010911;
		 box-shadow:inset 0px 1px 0px rgba(123, 175, 231, 0.63), 0px 1px 5px #010911;
}
.top-social-icons li a.facebook{
	background:#3977b1;
}
.top-social-icons li a.twitter{
	background:#64c9fc;
}
.top-social-icons li a i{
	width:48px;
	height:48px;
	display:block;
	background:url(../images/sprite.png) no-repeat;
}
.top-social-icons li a i.facebook_bigicon{
	background-position:-355px -8px;
}
.top-social-icons li a i.twitter_bigicon{
	background-position:-416px -12px;
}

.top-social-icons li a i.mail_bigicon{
background:url(../images/email.png) no-repeat;
background-size:48px 48px;
}

.top-social-icons li a i.paypal_bigicon{
background:url(../images/paypal.png) no-repeat;
background-size:48px 48px;
}


.top-social-icons li a i.kf_bigicon{
background:url(../images/logo.png) -20px -10px no-repeat;
background-size:90px;
}
.top-social-icons li a i.office_bigicon{
background:url(../images/office.png) no-repeat;
background-size:50px;
}
/******** SAP Tabs************/
.sap_tabs {
	margin-top:20px;
}
.sap_tabs p {
	font-size: 0.8em;
	color:#7d8a98;
	line-height: 1.8em;
	padding:5px;
}
.resp-tabs-list {
	width: 100%;
}
.resp-tab-item:nth-child(3){
	border-right:none;
}
.resp-tab-item {
	border-right:2px ridge #D0E40E;
	color: #ffffff;
	font-size:0.95em;
	background:#b6c710;
	cursor: pointer;
	padding:8px 0;
	display: inline-block;
	margin: 0;
	text-align: center;
	list-style: none;
	float: left;
	width:32.74%;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.resp-tab-item:hover {
	background:#AABB08;
	color: #FFF;
}
.resp-tab-active {
	background:#09203b;
	color:#FFF;
	border:none;
}
.resp-tabs-container {
	padding:7%;
	background-color:#09203b;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
	background-color:#09203b;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
h2.resp-accordion {
	font-size:1em;
	margin: 0px;
	padding: 10px 15px;
	background:#b6c710;
	margin-bottom:5px;
	color:#FFF;
}
h2.resp-accordion:hover {
	background:#AABB08;
	text-shadow: none;
	color: #FFF;
}
@media only screen and (max-width:480px) {
	.sap_tabs {
		margin-top:10px;
	}
	.resp-tabs-container{
		padding:0px;
		background:none;
	}
ul.resp-tabs-list {
  	display: none;
}
h2.resp-accordion {
  	display: block;
}
.resp-vtabs .resp-tab-content {
  	border: 1px solid #C1C1C1;
}
.resp-tab-content{
  padding:2%;
  background:#09203B;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
}
/*---start-start-date-calender----*/
.day-cal{
	background-image: -ms-linear-gradient(left, #B7C811 0%, #96A500 100%);	
	background-image: -moz-linear-gradient(left, #B7C811 0%, #96A500 100%);	
	background-image: -o-linear-gradient(left, #B7C811 0%, #96A500 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #B7C811), color-stop(1, #96A500));	
	background-image: -webkit-linear-gradient(left, #B7C811 0%, #96A500 100%);	
	background-image: linear-gradient(to right, #B7C811 0%, #96A500 100%);
}
.day-cal-top-left{
	float:left;
	width:40%;
}
.day-cal-top-right{
	float: right;
	width: 60%;
	text-align: right;
}
.day-cal{
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
}
.day-cal-top-left img{
	margin-top: 0.9em;
}
.day-cal-top-right label{
	font-size: 3em;
	color: #FFF;
}
.day-cal-top-right sup{
	color: #FFF;
	font-variant: small-caps;
	vertical-align: top;
}
.day-cal-top-right p{
	font-size:0.7em;
	color:#FFF;
}
.day-cal-mid-search-left p{
	font-size:0.8em;
	text-transform:uppercase;
	color:#FFF;
	margin-top:6px;
	font-weight:700;
}
.day-cal-mid-search-right{
	background: #859407;
	padding:5px 5px;
}
.day-cal-mid-search-right input[type="text"]{
	background: none;
	border: none;
	width:75%;
	outline: none;
	font-family: 'baker-signet-web', 'Baker', 'Open Sans', sans-serif;
	color:#FFF;
	margin:0;
	padding:0 5px;
}
.day-cal-mid-search-right input[type="submit"]{
	background: url(../images/search.png) no-repeat 0;
	width:16px;
	height:16px;
	border: none;
	outline: none;
	cursor: pointer;
	margin:0;
}
.day-cal-mid-search-left {
	float: left;
	width: 36%;
}
.day-cal-mid-search-right{
	float:right;
	width:50%;
}
.day-cal-top {
	padding:3% 5%;
}
.day-cal-mid-search {
	padding:3%;
	border-top: 1px solid #CEDB4E;
	border-bottom: 1px solid #CEDB4E;
}
.day-cal-day-grid{
	width: 7.1%;
	float: left;
	padding: 3%;
	margin-right: 0.96%;
	border-right: 1px solid #CEDB4E;
}
.last-day-cal-day-grid{
	border-right:0;
}
.last-day-cal-day-grid{
	margin-right:0;
}
.day-cal-day-grid p{
	font-size: 0.8em;
	color: #FFF;
	text-transform: uppercase;
	font-weight:700;
}
.day-cal-day-grid label{
	font-size:0.8em;
	color:#FFF;
}
.day-cal-day-grid sup{
	vertical-align:top;
	color:#FFF;
	font-size: 0.3em;
}
.day-cal-day-grid i{
	width:20px;
	height:20px;
	display:block;
	margin:2px 0;
	background:url(../images/sprite.png) no-repeat;
}
.day-cal-day-grid i.d-sun{
	background-position:-355px -72px;
}
.day-cal-day-grid i.d-rain{
	background-position:-386px -72px;
}
.day-cal-day-grid i.d-cloud{
	background-position:-415px -72px;
}
.day-cal-day-grid i.d-cs{
	background-position:-446px -72px;
}
.day-cal-day-grid i.d-sr{
	background-position:-472px -72px;
}
.day-cal-day {
	padding: 0 1.5% 1% 1.5%;
}
/*---start-simple-drop-down----*/
.arrows_grid{
	float:none;
	width:100%;
}
.arrows{
	float:left;
	width:47%;
}
.left-right{
	margin-top:9.9em;
}
.left-right ul{
  float:left;
  margin-left:5px;
}
.left-right ul:first-child{
  margin-left:0;	
}
.left-right li{
	float:left;
}
.left-right li a{
	display:block;
	background:#0A203B;
	padding:10px 7px;
	border-radius: 2px 0px 0px 2px;
	-webkit-border-radius: 2px 0px 0px 2px;
	-moz-border-radius: 2px 0px 0px 2px;
	-o-border-radius: 2px 0px 0px 2px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.left-right li a:hover{
	background: #011329;
}
.left-right li a.blue{
	background:#2DA5DA;
	border-radius: 0px 2px 2px 0px;
-webkit-border-radius: 0px 2px 2px 0px;
-moz-border-radius: 0px 2px 2px 0px;
-o-border-radius: 0px 2px 2px 0px;
}
.left-right li a.blue:hover{
	 background:#0190CF;
}
.left-right i{
	width:16px;
	height:16px;
	display:block;
	background:url(../images/sprite.png) no-repeat;
}
.left-right i.left{
	background-position:-357px -99px;
}
.left-right i.right{
	background-position:-371px -99px;
}
.left-right2 i.left{
	background-position:-333px -168px;
}
.left-right2 i.right{
	background-position:-248px -174px;
}
.left-right2 li a.black{
	margin-left:1px;
	border-radius: 0px 2px 2px 0px;
	-webkit-border-radius: 0px 2px 2px 0px;
	-moz-border-radius: 0px 2px 2px 0px;
	-o-border-radius: 0px 2px 2px 0px;
}
.simple-drop-down{
	float:left;
}
.wrapper-dropdown-2 {
    position: relative;
	padding:8px 50px 8px 10px;
	background: #2DA5DA;
	cursor: pointer;
	outline: none;
	color: #FFF;	
	font-size: 0.8em;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
}
.wrapper-dropdown-2:after {
    content: "";
	width: 0;
	height: 0;
	position: absolute;
	right:10px;
	top: 50%;
	margin-top: -2px;
	border-width: 6px 6px 0 6px;
	border-style: solid;
	border-color: #FFF rgba(0, 0, 0, 0);
}

.wrapper-dropdown-2 .dropdown {
  /* Size & position */
    position: absolute;
    top: 106%;
    left: 0px;
    right: 0px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
    /* Styles */
    background:#0a203c;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    list-style: none;
    z-index:1;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}
.wrapper-dropdown-2 .dropdown li{
	border-bottom: 1px solid #253B57;
}
.wrapper-dropdown-2 .dropdown li:last-child{
	border-bottom:none;
}
.wrapper-dropdown-2 .dropdown li a {
    display: block;
	text-decoration: none;
	color: #549BBB;
	padding:8px 10px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
/* Hover state */
.wrapper-dropdown-2 .dropdown li:hover a {
    color:#fff;
}
/* Active state */
.wrapper-dropdown-2.active:after {
    border-width: 0 6px 6px 6px;
}
.wrapper-dropdown-2.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
/* No CSS3 support */
.no-opacity       .wrapper-dropdown-2 .dropdown,
.no-pointerevents .wrapper-dropdown-2 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}
.no-opacity       .wrapper-dropdown-2.active .dropdown,
.no-pointerevents .wrapper-dropdown-2.active .dropdown {
    display: block;
}
/**** mathematical Elements *****/
.mathematical_elements{
	margin-top:5em;
}
.maths_elements{
  float:left;
  margin-left:5px;	
}
.maths_elements a{
	  display:block;	
	  color:#717f8f;
	  font-size:1em;
	  font-weight:700;
	 -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.maths_elements:first-child{
	margin-left:0;
}
.into{
	float:right;
}
.into a{
	 padding:10px;
	background:#0a203b;	
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
}
.into a:hover,.minus a:hover{
	background:#031935;
}
.plus-minus{
	margin-top:7px;
}
.plus{
	display:inline-block;
}
.plus a{
	 padding:10px;
	background:#2da5da;
	border-radius:2px 0px 0px 2px;
	-webkit-border-radius:2px 0px 0px 2px;
	-moz-border-radius:2px 0px 0px 2px;
	-o-border-radius:2px 0px 0px 2px;
}
.plus a:hover{
	 background:#0190CF
}
.minus{
	display:inline-block;
	margin-left:-4px;
}
.minus a{
	padding:10px 12px;
	background:#0a203b;
	border-radius:0px 2px 2px 0px;
	-webkit-border-radius:0px 2px 2px 0px;
	-moz-border-radius:0px 2px 2px 0px;
	-o-border-radius:0px 2px 2px 0px;	
}
.mathematical_elements i{
	width:16px;
	height:16px;
	display:block;
	background:url(../images/sprite.png) no-repeat;
}
.black a{
	background:#0a203b;
}
.black a:hover{
	background:#031935;
}
.black a i.plus{
	background-position:-254px -121px;
}
.blue a{
	background:#2da5da;
}
.blue a:hover{
	 background:#0190CF	
}
.blue a i.minus{
	background-position:-275px -106px;
}
.mathematical_elements i.multipication{
	background-position:-234px -106px;
}
.mathematical_elements i.plus{
	background-position:-252px -107px;
}
.mathematical_elements i.minus{
	background-position:-275px -119px;
}
.digit{
	float:left;
}
.digit a{
	 padding:6px 14px;
	 background:#0A203B;
	 border-radius:2px 0px 0px 2px;
	-webkit-border-radius:2px 0px 0px 2px;
	-moz-border-radius:2px 0px 0px 2px;
	-o-border-radius:2px 0px 0px 2px;
}
.digit a:hover{
	background:#031935;
	color:#FFF;
}
.plus-minus1{
	float:left;
}
.plus1{
	border-bottom:2px ridge #49BDF1;
}
.plus1 a,.minus1 a{
	 padding:0 10px;
	 background:#2da5da;
}
.plus1 a:hover,.minus1 a:hover{
	 background:#0190CF;
}
.plus1 a{
	border-top-right-radius: 2px;
}
.minus1 a{
	border-bottom-right-radius: 2px;
}
.minus1 a i.minus{
	background-position:-271px -106px;
}
/*---//End-simple-drop-down----*/
.tool-tip{
	float:none;
	margin:0;
	width:100%;
}
/*---start-simle-tooltip-----*/
.simple-tool-tips{
   float:left;
   margin-right:15px;
}
.simple-tool-tips a{
	position:relative;
	display:block;
	background:#0b203c;
	color:#97a2ad;
	font-size:0.85em;
	padding:8px 30px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
 }
.simple-tool-tips a:hover{
 	 color:#FFF;
 	 background:#081C36;
 }
 .simple-tool-tips a:before{
 		content: '';
		position: absolute;
		left:40px;
		bottom: -8px;
		border-left:8px solid transparent;
		border-right:8px solid transparent;
		border-top:8px solid #0b203c;
 }
.simple-tool-tips a span{
	height: auto;
	padding:9px 39px;
	font-style:italic;
	left: 50%;
	margin-left: -52px;
	font-size:0.85em;
	color:#FFF;
	text-align: center;
	background:#2DA5DA;
	text-indent: 0px;	
	position: absolute;
	pointer-events: none;
	top:100px;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.simple-tool-tips a span:after {
		content: '';
		position: absolute;
		left:45px;
		top: -8px;
		border-left:8px solid transparent;
		border-right:8px solid transparent;
		border-bottom:8px solid #2DA5DA;
}	
.simple-tool-tips a:hover span{
	opacity:1;
	top:55px;
}
/*---//End-simle-tooltip-----*/
/*---start-narma-push-bttons----*/
.narma-push-bttons{
	float:left;
}
.narma-push-bttons ul li{
	display:inline-block;
	float:left;
}
.narma-push-bttons ul li a{
	font-size:0.8em;
	text-transform:uppercase;
	padding:15px 14px;
	display: block;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
}
.narmal-btn{
	background:#0a203c;
	color: #999;
}
.push-btn{
	background:#020714;
	color:#FFF;
}
.user_cam-pagenumbers{
	float:left;
}
.user_cam{
	margin-top:10px;
}
.user_cam li{
	display:inline-block;
	margin-left:10px;
}
.user_cam li:first-child{
	margin-left:0;
}
.user_cam li a{
   display:block;
   padding:25px;
   background:#0a203c;	
   -webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.user_cam li a:hover{
	background:#011329;
}
.user_cam li a i{
	width:24px;
	height:24px;
	display:block;
	background:url(../images/sprite.png) no-repeat;
}
.user_cam li a i.user-icon{
	background-position:-236px -145px;
}
.plane-icon {
	background:url(../images/plane.png) no-repeat !important;
	background-size: 40px !important;
	background-position:0px 10px !important;
}
.tick-icon{
	width:24px;
	height:24px;
	display:block;
	background: url(../images/sprite.png) no-repeat !important;
	background-position:-418px -238px !important;
}
.thumbsup-icon {
	background:url(../images/thumbsup.png) no-repeat !important;
	background-size: 30px !important;
	margin-top:20px;
/* 	background-position:0px 10px !important;
 */}
.tweets_list{
	font-size:20px !important;
}
.user_cam li a i.camera-icon{
	background-position:-264px -145px;
}
.page-numbers i{
	background:url(../images/sprite.png) no-repeat;
	height:16px;
	width:16px;
	display:block;
	vertical-align: middle;
}
.page-numbers li a.prev,.page-numbers li a.next{
	padding:10px 10px 9px 10px;
}
.page-numbers i.prev{
	background-position:-232px -174px;
}
.page-numbers i.next{
	background-position:-249px -174px;
}
.page-numbers ul li{
	display: inline-block;
	float: left;
	margin:0 1px;
}
.page-numbers ul li a{
	display: block;
	color:#687787;
	background:#0a203b;
	padding:8px 9px;
	font-size:0.9em;
	font-weight:600;
	text-align:center;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.page-numbers li a:hover{
	background:#011329;
	color:#FFF;
}
.prdoduce-grids{
	float:left;
	margin-left:10px;
	margin-top:10px;
}
.flat{
	position: relative;	
	cursor: pointer;
	background:#0a203c;
	color:#687787;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	width:112px;
}
.flat.open{
	z-index: 2;
}
.flat:hover,
.flat.focus{
	color:#FFF;
}
/* OLD SELECT (HIDDEN) */
.flat .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}
.flat select{
	position: absolute;
	left: 0px;
	top: 0px;
}
.flat.touch select{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
/* SELECTED FEEDBACK ITEM */ 
.flat .selected {
    color:#898989;
}
.flat .selected:hover{
	color:#FFF;
}
.flat .selected,
.flat li{
	display:block;
	font-size:0.8em;
	font-family: 'baker-signet-web', 'Baker', 'Open Sans', sans-serif;
	padding:10px 25px 10px 10px;
	overflow: hidden;
	white-space: nowrap;
	text-align:left;
}
.flat .selected::after{
	content: '';
	position: absolute;
	right:6px;
	top:12px;
	bottom: 0;
	width:16px;
	height:16px;
	background:url(../images/sprite.png) no-repeat -267px -172px;
}
/* DROP DOWN WRAPPER */
.flat div{
	position: absolute;
	height: 0;
	left: 0;
	right: 0;
	top: 100%;
	margin-top:1px;
	background:#0A203C;
	overflow: hidden;
	opacity: 0;
	color:#687787;
}
/* Height is adjusted by JS on open */

.flat.open div{
	opacity: 1;
	z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.flat.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}
.flat.scrollable.bottom div::after{
	opacity: 0;
}
/* DROP DOWN LIST */
.flat ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
}
.flat.scrollable.open ul{
	overflow-y: auto;
}
/* DROP DOWN LIST ITEMS */
.flat li{
	list-style: none;
	padding:5px 5px;
	-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
.flat li:last-child {
    border-bottom: 0;
}
/* .focus class is also added on hover */
.flat li:hover{
	background-color:#011329;
}
.flat li.focus{
	background:#011329;
	position: relative;
	z-index: 3;
	color:#FFF;
}
.flat li.active{
    background-color:#011329;
	color: #fff;
}
.list_products{
	background:#2da5da;
	margin-top:10px;
	border-radius:1px;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	-o-border-radius:1px;
}
.list_products li{
	float:left;
}
.list_products li a{
	display:block;
	border-left:1px solid #52B5E1;
	padding:3px 0;
}
.list_products li a.prev{
	 border-radius: 2px 0px 0px 2px;
	-webkit-border-radius: 2px 0px 0px 2px;
	-moz-border-radius: 2px 0px 0px 2px;
	-o-border-radius: 2px 0px 0px 2px;
}
.list_products li a.next{
	border-radius: 0px 2px 2px 0px;
	-webkit-border-radius: 0px 2px 2px 0px;
	-moz-border-radius: 0px 2px 2px 0px;
	-o-border-radius: 0px 2px 2px 0px;
}
.list_products li:first-child a{
	border-left:none;
}
.list_products li a i{
	width:27px;
	height:27px;
	display:block;
	background:url(../images/sprite.png) no-repeat;
}
.list_products li a i.list_products_icon1{
	background-position:-231px -200px;
}
.list_products li a i.list_products_icon2{
	background-position:-263px -200px;
}
.list_products li a i.list_products_icon3{
	background-position:-295px -200px;
}
.list_products li a i.list_products_icon4{
	background-position:-327px -200px;
}
.list_products li a:hover{
	 background:#0190CF;
}
.list_products-prev-next{
	margin-top:10px;
}
.list_products-prev-next li {
	float:left;
}
.list_products-prev-next li:first-child  a{
	margin-left:0;
}
.list_products-prev-next li a{
	background:#0a203b;
	display:block;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	margin-left:1px;
}
.list_products-prev-next li a:hover{
	background:#011329;
}
.list_products-prev-next li a i{
	width:36px;
	height:32px;
	display:block;
	display:block;
	background:url(../images/sprite.png) no-repeat;
}
.list_products-prev-next li a i.prev{
	background-position:-323px -160px;
}
.list_products-prev-next li a i.next{
	background-position:-317px -123px;
}
.list_products-prev-next li a i.list_products_icon{
	background-position:-290px -161px;
}
/*---start-simple-search-box------*/
.simple-coursal{
	float:none;
	width:100%;
}
.simple-search-box{
	background:#0a203c;
	padding:3%;
	margin-top:10px;
}
.simple-search-box input[type="text"]{
	background: #040915;
	border:1px solid rgba(27, 48, 75, 0.99);
	padding: 5px;
	color: #999;
	font-family: 'baker-signet-web', 'Baker', 'Open Sans', sans-serif;
	font-size:0.8em;
	outline:none;
	width:71.55%;
	margin:0;
	-webkit-appearance:none;
}
.simple-search-box input[type="text"]:focus{
	color:#FFF;
}
.simple-search-box input[type="submit"]{
	background:#B6C710 url(../images/sprite.png) no-repeat -340px -122px;
	border: none;
	padding:3px 28px 9px 28px;
	cursor:pointer;
	margin:0;
	margin-left:4px;
	outline:none;
}
.simple-search-box input[type="submit"]:hover{
	background-color:#92A008;
}
/******* Coursel **********/
.coursal{
	position:relative;
	margin:10px 0;
}
#slide{
	margin:0 auto;
}
#slide img{
	width:80px;
	height:80px;
	display:block;
}
.slide_prev-next a{
	background:#0B203C;
	padding:32px 6px;
	position:absolute;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.slide_prev-next a:hover{
	 background:#011329;
}
#slide_prev{
	left:0;
	top:0;
}
#slide_next{
	right:0;
	top:0;
}
.slide_prev-next a i{
  width:16px;
  height:16px;
  display:block;
  background:url(../images/sprite.png) no-repeat;
}
.slide_prev-next a i.slide_prev{
	background-position:-318px -61px;
}
.slide_prev-next a i.slide_next{
	background-position:-318px -91px;
}
/***** Content ****/
/******** Content Top ***********/
.content_top{
	margin:10px 0;
}
.content_top-grid1{
	float:none;
	width:100%;
}
.top_elements{
	margin-bottom:10px;
}
.vertical_icon-nav{
	float:left;
}
.vertical_icon-nav ul{
	float:left;
}
.color_gradients li a{
     display:block;
     width:38px;
     height:36px;
     background:url(../images/sprite.png) no-repeat;
}
.color_gradients li a.color_button1{
	background-position:-507px -284px;
}
.color_gradients li a.color_button2{
	background-position:-507px -320px;
}
.color_gradients li a.color_button3{
	background-position:-507px -356px;
}
.color_gradients li a.color_button4{
	background-position:-507px -392px;
}
.color_gradients li a.color_button5{
	background-position:-507px -428px;
}
.color_gradients li a.color_button6{
	background-position:-507px -464px;
}
.color_gradients li a.color_button7{
	background-position:-507px -500px;
}
.color_gradients li a.color_button8{
	background-position:-507px -536px;
}
.color_gradients li a.color_button9{
	background-position:-544px -284px;
}
.color_gradients li a.color_button10{
	background-position:-544px -320px;
}
.color_gradients li a.color_button11{
	background-position:-544px -356px;
}
.color_gradients li a.color_button12{
	background-position:-544px -392px;
}
.vertical_icon_nav{
	margin-left:10px;
}
.vertical_icon_nav li:first-child a{ 
	border-top:none;
}
.vertical_icon_nav li a{
	display:block;
	padding:13px;
	background:#2da5da;
	border-top:1px solid #58BCE9;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease; 
}
.vertical_icon_nav li a:hover{
  background:#75d5ff;	
}
.vertical_icon_nav li a i{
	width:32px;
	height:32px;
	display:block;
	background: url(../images/sprite.png) no-repeat;
}
.vertical_icon_nav li a i.user{
	background-position:-89px -301px;
}
.vertical_icon_nav li a:hover i.user{
	background-position:-89px -340px;
}
.vertical_icon_nav li a i.favourite{
	background-position:-140px -302px;
}
.vertical_icon_nav li a:hover i.favourite{
	background-position:-143px -339px;
}
.vertical_icon_nav li a i.images{
	background-position:-190px -302px;
}
.vertical_icon_nav li a:hover i.images{
	background-position:-191px -342px;
}
.vertical_icon_nav li a i.comment{
	background-position:-244px -301px;
}
.vertical_icon_nav li a:hover i.comment{
	background-position:-244px -339px;
}
.vertical_icon_nav li a i.map_pin{
	background-position:-290px -300px;
}
.vertical_icon_nav li a:hover i.map_pin{
	background-position:-290px -337px;
}
.icon_nav{
	float:left;
	margin:0 3.65%;
}
/**** icon dropdown ******/
.icon-menu-dropdown {
    /* Size & position */
    position: relative;
    margin: 0 auto;
    padding:10px;
    display:inline-block;

    /* Styles */
    background:#2da5da;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-radius:3px 3px 0 0;
    -webkit-border-radius:3px 3px 0 0;
    -moz-border-radius:3px 3px 0 0;
    -o-border-radius:3px 3px 0 0;
}
.icon-menu-dropdown i.dropdown-icon{
	width:36px;
	height:36px;
	display:block;
	background:url(../images/sprite.png) no-repeat -87px -386px;
}
.icon-menu-dropdown .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width:256px;
    /* Styles */
    background:#2da5da;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    /* Hiding */
    max-height: 0;
    overflow: hidden;
    z-index:1;
    border-radius:0px 0px 3px 3px;
    -webkit-border-radius:0px 0px 3px 3px;
    -moz-border-radius:0px 0px 3px 3px;
    -o-border-radius:0px 0px 3px 3px;
}
.icon-menu-dropdown .dropdown li:first-child a{
	border-top:none;
}
.icon-menu-dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    color:#fefefe;
    font-size:0.8em;
    border-top:1px solid #58BCE9;
    padding:10px  10px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.icon-menu-dropdown .dropdown li a span{
	float:left;
} 
.dropdown li a label{
	background:#3467a5;
	color:#FFF;
	font-size:1em;
	float:right;
	padding:3px 9px;
	border-radius:1em;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dropdown li a:hover label{
	background:#e64c65;
}
.icon-menu-dropdown .dropdown li a i{
	width:26px;
	height:26px;
	display:inline-block;
	background: url(../images/sprite.png) no-repeat;
	vertical-align:middle;
	margin-right:10px;
	margin-top:-3px;
}
.icon-menu-dropdown .dropdown li a i.inbox{
	background-position:-135px -390px;
}
.icon-menu-dropdown .dropdown li a i.shop{
	background-position:-180px -390px;
}
.icon-menu-dropdown .dropdown li a i.myfiles{
	background-position:-220px -390px;
}
/* Hover state */
.icon-menu-dropdown .dropdown li:hover a {
    color: #FFF;
    background:#0A719E;
}
/* Active state */
.icon-menu-dropdown.active {
    background: #2da5da;
    color:#FFF;
}
.icon-menu-dropdown.active .dropdown {
    max-height: 400px;
}
.drag_drop{
	background:#3467a5;
	margin-top:8.5em;
	padding:2em 4.65em;
}
.drag_drop p{
	font-size: 0.55em;
	color: #76CDFF;
	padding:15px 15px;
	font-weight:500;
	text-transform:uppercase;
	border:4px dashed #2e9ad1;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}
.shopping_cart{
	float:left;
	width:100%;
	margin-top:10px;
}
.search_box {
	background:#3467a5;
	position: relative;
	float: left;
	padding:10px 5px;
	width:39%;
}
.search_box form input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size:0.8em;
	color: #FFF;
	font-family: 'baker-signet-web', 'Baker', 'Open Sans', sans-serif;
	width:75%;
	padding-left:5px;
	-webkit-apperance:none;
	margin:0;
}
.search_box form input[type="submit"] {
	border: none;
	cursor: pointer;
	outline:none;
	background: url(../images/sprite.png) no-repeat -98px -437px;
	width:16px;
	height:16px;
	padding:0;
	vertical-align:middle;
}
.category{
	float:left;
}
.category-dropdown{
	border-radius:0;
	padding:12px 32px 12px 30px;
	background:#3086c0;
}
.category-dropdown:after {
	content: '';
	position: absolute;
	left:6px;
	top: 15px;
	bottom: 0;
	width: 16px;
	height: 16px;
	background: url(../images/sprite.png) no-repeat -170px -437px;
	margin-top:0;
	border:0;
}
/*-------LOGIN STARTS HERE -------*/
#loginContainer {
    float:left;
    position:relative;
}
/* Login Button */
#loginButton { 
    display:inline-block;  
    position:relative;
    z-index:30;
    cursor:pointer;
}
/* Login Button Text */
#loginButton span{
	padding:21px 23px;
	display:block;
	 background:#2DA5DA url(../images/sprite.png) no-repeat -120px -421px;
}
/* Login Box */
#loginBox {
    position:absolute;
    top:58px;
    right:0px;
    display:none;
    z-index:29;
}
/* Login Form */
#loginForm {
    width:280px; 
    background:#2da5da;
    position:relative;
}
#loginForm:after {
	content: '';
	position: absolute;
	right: 40px;
	top: -10px;
	border-left:10px solid rgba(0, 0, 0, 0);
	border-bottom:10px solid #2da5da;
}
.plans_table thead th.plans-list{
	padding:20px 10px;
}
.plans_table thead th.plans-list h3,.plans_table thead th.plans-list h4{
	font-size:0.95em;
	color: #FFF;
	font-weight:600;
	display: block;
	width: 100%;
	margin: 0;
	text-align: center;
}
.plans_table thead th.plans-list h4{
	font-size:0.8em;
	text-align:left;
}
.plans_table td.plan_list_title{
    font-size:0.85em;
	text-align:center;
	color:#FFF;
}
.plans_table tbody tr.odd{
	background:#3467a5;
	border-top:1px solid #4C6A86;
}
.plans_table tbody td{
	padding:10px;
	color:#FFF;
	font-size:0.85em;
	text-align:center;
}
.plans_table tbody td.product-desc{
	font-size:0.75em;
	text-align:left;
}
.order-now{
	border-top:1px solid #52B5E1;
}
.order_now{
  float:left;	
}
.order_now a{
	  display:inline-block;
	  font-size:0.85em;
	  text-align:center;
	  color:#FFF;
	  text-decoration:none;
	  margin:0 auto;
	  background:#2da5da;
	  outline: 0;
	 -webkit-transition: all 0.5s ease-in-out;
	 -moz-transition: all 0.5s ease-in-out;
	 -o-transition: all 0.5s ease-in-out;
	 transition: all 0.5s ease-in-out;
	 padding:15px 33px;
     border-left:1px solid #52B5E1;
     text-transform:uppercase;
     cursor:pointer;
}
.order_now a:hover{
		background:#1985B4;
}
.button2{
	border-left:none;
}
.plans_table tfoot td{
	text-align:center;
    padding:10px 0; 
}
.social-icons{
	float:left;
}
.social-icons ul{
	float:left;
	margin-left:8px;
}
.social-icons ul:first-child{
	margin-left:0;
}
.social-icons li{
	display:block;
	margin:3px 0;
}
.social-icons li a{
	width:24px;
	height:24px;
	display:block;
	background: url(../images/sprite.png) no-repeat;
}
.social-icons li a.twitter_icon{
	background-position:-5px -171px;
}
.social-icons li a.googleplus{
	background-position:-5px -193px;
}
.social-icons li a.tumblr{
	background-position:-5px -215px;
}
.social-icons li a.forrst{
	background-position:-5px -238px;
}
.social-icons li a.vimeo{
	background-position:-5px -260px;
}
.social-icons li a.facebook_icon{
	background-position:-37px -171px;
}
.social-icons li a.dribbble{
	background-position:-37px -193px;
}
.social-icons li a.delicious{
	background-position:-37px -215px;
}
.social-icons li a.deviantart{
	background-position:-37px -239px;
}
.social-icons li a.flickr{
	background-position:-37px -260px;
}
/*-----radio-switch-buttons-----*/
.switech-grid {
	float:left;
	width:30%;
	margin-top:15px;
	margin-left:2%;
}
.switch {
  margin:0px auto;
  position: relative;
  margin-top:35px;
}
.switch:first-child{
	margin-top:0;
}
.switch label {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
.switch input {
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.switch.demo3 {
  width:80px;
  height:35px;
}
.switch.demo3 label {
  display: block;
  width: 100%;
  height: 100%;
  background:#060d1c;
  border-radius:40px;
}
.switch.demo3 label:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -8px; right: -8px; bottom: -8px; left: -8px;
  border-radius: inherit;
}
.switch.demo3 label:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -5px; right: -5px; bottom: -5px; left: -5px;
  border-radius: inherit;
  background:rgba(51, 92, 140, 0.37);
}
.switch.demo3 label i {
  display: block;
  height:90%;
  width:38%;
  border-radius: inherit;
  position: absolute;
  z-index: 2;
  right:59%;
   top:0px;
	background: #0d1f2b;
	background: -moz-linear-gradient(left,  #0d1f2b 0%, #375b77 100%, #446279 100%, #446279 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0d1f2b), color-stop(100%,#375b77), color-stop(100%,#446279), color-stop(100%,#446279));
	background: -webkit-linear-gradient(left,  #0d1f2b 0%,#375b77 100%,#446279 100%,#446279 100%);
	background: -o-linear-gradient(left,  #0d1f2b 0%,#375b77 100%,#446279 100%,#446279 100%);
	background: -ms-linear-gradient(left,  #0d1f2b 0%,#375b77 100%,#446279 100%,#446279 100%);
	background: linear-gradient(to right,  #0d1f2b 0%,#375b77 100%,#446279 100%,#446279 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d1f2b', endColorstr='#446279',GradientType=1 );
   border:1px solid #777;
}
.switch.demo3 label i:after {
  content: "";
  position: absolute;
  left:20%;
  top:20%;
  width:18px;
  height:18px;
   background:url(../images/sprite.png) no-repeat -43px -133px;
  border-radius: inherit;
}
.switch.demo3 label i:before {
  content: "off";
  text-transform: uppercase;
  color:#999999;
  font-size:0.8em;
  position: absolute;
  top: 50%;
  margin-top:-8px;
  right:-120%;
}
.switch.demo3 input:checked ~ label {
  background: #2da5da;
  color:#FFF;
  box-shadow:inset 0px 2px 5px #048FC9;
  -webkit-box-shadow:inset 0px 2px 5px #048FC9;
  -moz-box-shadow:inset 0px 2px 5px #048FC9;
  -o-box-shadow:inset 0px 2px 5px #048FC9;
}
.switch.demo3 input:checked ~ label i {
  right: -1%;
}
.switch.demo3 input:checked ~ label i:before  {
  content: "on";
  right: 155%;
  color:#FFF;
}
/***** Check box ****/
.checkbox-grid{
	float:left;
	margin:0 2%;
}
.inline-group{
	margin-bottom:25px;
	margin-left:5px;
}
/*** radio buttons**/
.checkbox-grid .radio{
	position:relative;
	display:block;
}
.checkbox-grid .radio{
	margin-bottom:1px;
	padding-left: 20px;
	color: #FFF;
	cursor: pointer;
}
.checkbox-grid .radio input {
	position: absolute;
	left: -9999px;
}
.checkbox-grid .radio i{
	position: absolute;
	top: 5px;
	left: 0;
	display: block;
	width: 10px;
	height: 10px;
	outline: none;
	border-width: 2px;
	border-style: solid;
}
.checkbox-grid .radio i {
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-o-border-radius: 1em;
}
.checkbox-grid .inline-group:after {
	content: '';
	display: table;
	clear: both;
}
.checkbox-grid .inline-group .radio,
.checkbox-grid .inline-group .checkbox {
	float:left;
}
/*** normal state ***/
.checkbox-grid .radio i,
.checkbox-grid .icon-append,
.checkbox-grid .icon-prepend {
	border-color: #040b1a;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}
.checkbox-grid .radio .orange i{
	background:rgba(34, 34, 34, 0);
}
.checkbox-grid .radio .green i{
	background:#040b1a;
}
/*** hover state ***/
.checkbox-grid .orange .radio:hover i ,.checkbox-grid .radio .orange input:checked + i,.orange input:focus + i{
	border-color:#C73605;
	background: #ff6633;
	background: -moz-linear-gradient(left,  #ff6633 0%, #cc3300 0%, #ff6633 100%, #ff6633 100%, #cc4518 100%, #ff6633 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff6633), color-stop(0%,#cc3300), color-stop(100%,#ff6633), color-stop(100%,#ff6633), color-stop(100%,#cc4518), color-stop(100%,#ff6633));
	background: -webkit-linear-gradient(left,  #ff6633 0%,#cc3300 0%,#ff6633 100%,#ff6633 100%,#cc4518 100%,#ff6633 100%);
	background: -o-linear-gradient(left,  #ff6633 0%,#cc3300 0%,#ff6633 100%,#ff6633 100%,#cc4518 100%,#ff6633 100%);
	background: -ms-linear-gradient(left,  #ff6633 0%,#cc3300 0%,#ff6633 100%,#ff6633 100%,#cc4518 100%,#ff6633 100%);
	background: linear-gradient(to right,  #ff6633 0%,#cc3300 0%,#ff6633 100%,#ff6633 100%,#cc4518 100%,#ff6633 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6633', endColorstr='#ff6633',GradientType=1 );
}
.checkbox-grid .green .radio:hover i,.checkbox-grid .radio .green input:checked + i, .green input:focus + i {
	background: #339933;
}
.radio_boxes{
	float:left;
}
.check-boxs{
 float:left;
 margin-left:5px;	
 margin-top:5px;
}
.checkbox-grid-left input[type="checkbox"]{
	display:none;
}
.checkbox-grid-left input[type="checkbox"]+label{
	display:inline-block;
}
.checkbox-grid-left p{
	display:block;
}
.checkbox-grid-left a{
	vertical-align: super;
	margin-left: 10px;
	color: #222;
	font-size: 1em;
}
.check-boxs input[type="checkbox"].css-checkbox12 + label.css-label12 {
	height:12px;
	width:12px;
	display: inline-block;
	cursor: pointer;
	border:2px solid #7368AA;
	background:#030a1a;
	border-radius:2em;
	-webkit-border-radius:2em;
	-moz-border-radius:2em;
	-o-border-radius:2em;
}
.check-boxs input[type="checkbox"].css-checkbox12:checked + label.css-label12 {
	background: #ff6633;
	background: -moz-linear-gradient(left,  #ff6633 0%, #cc3300 0%, #ff6633 100%, #ff6633 100%, #cc4518 100%, #ff6633 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff6633), color-stop(0%,#cc3300), color-stop(100%,#ff6633), color-stop(100%,#ff6633), color-stop(100%,#cc4518), color-stop(100%,#ff6633));
	background: -webkit-linear-gradient(left,  #ff6633 0%,#cc3300 0%,#ff6633 100%,#ff6633 100%,#cc4518 100%,#ff6633 100%);
	background: -o-linear-gradient(left,  #ff6633 0%,#cc3300 0%,#ff6633 100%,#ff6633 100%,#cc4518 100%,#ff6633 100%);
	background: -ms-linear-gradient(left,  #ff6633 0%,#cc3300 0%,#ff6633 100%,#ff6633 100%,#cc4518 100%,#ff6633 100%);
	background: linear-gradient(to right,  #ff6633 0%,#cc3300 0%,#ff6633 100%,#ff6633 100%,#cc4518 100%,#ff6633 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6633', endColorstr='#ff6633',GradientType=1 );
}
.check-boxs input[type="checkbox"].css-checkbox11 + label.css-label11 {
	height:15px;
	width:15px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position:-394px -100px;
	cursor: pointer;
	background-color:#030a1a;
	background-image: url(../images/sprite.png);
}
.check-boxs input[type="checkbox"].css-checkbox11:checked + label.css-label11 {
	background-position:-413px -100px;
}
.controls li{
  	display:inline-block;
  	width:28px;
  	height:32px;
  	background:url(../images/sprite.png) no-repeat;
}
.controls li.plus{
  	background-position:-154px -63px;
}
.controls li.close{
  	background-position:-190px -62px;
}
.controls li.left-arrow{
  	background-position:-227px -62px;
}
.controls li.right-arrow{
  	background-position:-265px -62px;
}
/*** ratings ***/
.rating-stars{
	margin-top:10px;
	margin-left:5px;
	text-align:center;
}
.rating > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.rating > ul > li {
	display:inline-block;
	margin-left:2px;
	background:url(../images/sprite.png) no-repeat -158px -105px;
	width:18px;
	height:18px;
	cursor: pointer;
}
.rating > ul > li:first-child {
	margin-left: 0;
}
.rating > ul > li.hover {
	background-position:-182px -105px;
}
.rating > ul > li.active {
	background-position:-182px -105px;
}
.control-arrows{
	float:left;
	width:100%;
}
.control_arrows,.control_arrows-style-3{
	float:left;
	width:37%;
	text-align:center;
	position:relative;
	padding:40px 0;
}
.control_arrows-style-3{
	width:24%;
}
.control-arrows li{
	display:inline-block;
}
.style-1 li.up{
	position: absolute;
	top:2px;
	left: 30%;
}
.style-1 li.down{
	position: absolute;
	bottom:5px;
	left: 30%;
}
.style-1 li.right {
	margin-left:12px;
}
.style-1 li a{
	padding:10px;	
}
.style-2 li a{
	padding:6px;	
}
.style-2{
	margin:0 1%;
}
.style-2 li.up{
	position: absolute;
	top: 10px;
	left: 34%;
}
.style-2 li.down{
	position: absolute;
	bottom:15px;
	left: 34%;
}
.style-2 li.right{
	margin-left:20px;
}
.control_arrows li a{
	display:block;
	background-color:#040b1a;
	border-radius:2em;
	-webkit-border-radius:2em;
	-moz-border-radius:2em;
	-o-border-radius:2em;
	-webkit-transition: background-color 0.5s ease-in-out;
	-moz-transition:background-color 0.5s ease-in-out;
	-o-transition: background-color 0.5s ease-in-out;
	transition: background-color 0.5s ease-in-out;
}
.control_arrows li a:hover{
	background-color:#2b9cd0;
}
.control_arrows li a i{
	width:24px;
	height:24px;
	display:block;
	background: url(../images/sprite.png) no-repeat;
}
.control_arrows li a i.up-arrow{
	background-position:-160px -163px;
}
.control_arrows li a:hover i.up-arrow{
	background-position:-160px -130px;
}
.control_arrows li a i.right-arrow{
	background-position:-122px -163px;
}
.control_arrows li a:hover i.right-arrow{
	background-position:-122px -134px;
}
.control_arrows li a i.down-arrow{
	background-position:-199px -162px;
}
.control_arrows li a:hover i.down-arrow{
	background-position:-199px -130px;
}
.control_arrows li a i.left-arrow{
	background-position:-80px -162px;
}
.control_arrows li a:hover i.left-arrow{
	background-position:-80px -133px;
}
.control_arrows-style-3 li a{
	display:block;
	background-color:#040b1a;
	border-radius:1em;
	-webkit-border-radius:1em;
	-moz-border-radius:1em;
	-o-border-radius:1em;
	-webkit-transition: background-color 0.5s ease-in-out;
	-moz-transition:background-color 0.5s ease-in-out;
	-o-transition: background-color 0.5s ease-in-out;
	transition: background-color 0.5s ease-in-out;
}
.control_arrows-style-3 li a:hover{
	background-color:#2b9cd0;
}
.control_arrows-style-3 li a{
	padding:3px;
}
.control_arrows-style-3 li.up{
	position: absolute;
	top:15px;
	left: 34%;
}
.control_arrows-style-3 li.down{
	position: absolute;
	bottom:20px;
	left: 34%;
}
.control_arrows-style-3 li.right{
	margin-left:10px;
}
.control_arrows-style-3 li a i{
	width:16px;
	height:16px;
	display:block;
	background: url(../images/sprite.png) no-repeat;
}
.control_arrows-style-3 li a i.up-arrow{
	background-position:-165px -213px;
}
.control_arrows-style-3 li a:hover i.up-arrow{
	background-position:-164px -191px;
}
.control_arrows-style-3 li a i.right-arrow{
	background-position:-124px -214px;
}
.control_arrows-style-3 li a:hover i.right-arrow{
	background-position:-124px -191px;
}
.control_arrows-style-3 li a i.down-arrow{
	background-position:-203px -213px;
}
.control_arrows-style-3 li a:hover i.down-arrow{
	background-position:-203px -191px;
}
.control_arrows-style-3 li a i.left-arrow{
	background-position:-85px -214px;
}
.control_arrows-style-3 li a:hover i.left-arrow{
	background-position:-84px -192px;
}
.content_top-grid2{
	float:none;
	margin:0;
	width:100%;
}
.video_player{
	margin-bottom:10px;
}
.video_player iframe{	
   width:100%;
   height:160px; 
 }
.email-box{
	margin:5px 0;
}
.comment-area input[type="text"],.comment-area textarea{
	width:90%;
	padding:10px;
	font-family: 'baker-signet-web', 'Baker', 'Open Sans', sans-serif;
	color:#C5D5E2;
	font-size:0.8em;
	outline: none;
	background:#0b293c;
	-webkit-appearance:none;
	border:2px solid rgba(45, 160, 210, 0);
	transition: border-color 0.5s;
	-o-transition: border-color 0.5s;
	-ms-transition: border-color 0.5s;
	-moz-transition: border-color 0.5s;
	-webkit-transition: border-color 0.5s;
	margin:0;
}
.comment-area input[type="text"]:focus,.comment-area textarea:focus{
	color:#FFF;
	border:2px solid #2da0d2;
}
.comment-area textarea{
	width:90%;
	display: block;
	height: 100px;
	outline: none;
	resize:none;
}
.comment-area input[type="submit"]{
	font-family: 'baker-signet-web', 'Baker', 'Open Sans', sans-serif;
	font-size:0.8em;
	cursor: pointer;
	text-transform: uppercase;
	color:#FFF;
	padding:15px 0;
	border: 0;	
	border-radius:2px;
	-webkit-border-radius: 2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	outline:none;
	background:#2da5da url(../images/send-mail.png) no-repeat 15px 12px;
	-webkit-appearance:none;
	 -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin-top:15px;
    float:left;
    width:50%;
}
.comment-area input[type="submit"]:hover{
	background-color:#1786B8;
}
.icons{
	float:left;
	margin-top:10px;
	width:100%;
}
.icons li{
	display:inline-block;
}
.icons li a{
	width:24px;
	height:24px;
	display:block;
	background: url(../images/sprite.png) no-repeat;
}
.icons li a.icon1{
	background-position:-66px -238px;
}
.icons li a.icon2{
	background-position:-91px -238px;
}
.icons li a.icon3{
	background-position:-116px -238px;
}
.icons li a.icon4{
	background-position:-141px -238px;
}
.icons li a.icon5{
	background-position:-166px -238px;
}
.icons li a.icon6{
	background-position:-191px -238px;
}
.icons li a.icon7{
	background-position:-216px -238px;
}
.icons li a.icon8{
	background-position:-240px -238px;
}
.icons li a.icon9{
	background-position:-266px -238px;
}
.icons li a.icon10{
	background-position:-293px -238px;
}
.icons li a.icon11{
	background-position:-319px -238px;
}
.icons li a.icon12{
	background-position:-343px -238px;
}
.icons li a.icon13{
	background-position:-368px -238px;
}
.icons li a.icon14{
	background-position:-393px -238px;
}
.icons li a.icon15{
	background-position:-418px -238px;
}
.icons li a.icon16{
	background-position:-443px -238px;
}
.icons li a.icon17{
	background-position:-468px -238px;
}
.icons li a.icon18{
	background-position:-67px -264px;
}
.icons li a.icon19{
	background-position:-92px -264px;
}
.icons li a.icon20{
	background-position:-116px -264px;
}
.icons li a.icon21{
	background-position:-142px -264px;
}
.icons li a.icon22{
	background-position:-167px -264px;
}
.icons li a.icon23{
	background-position:-192px -264px;
}
.icons li a.icon24{
	background-position:-218px -264px;
}

.content_top-grid3{
	float:none;
	width:100%;
}
.profile{
	margin-bottom:10px;
}
.profile-details{
	float:left;
	width:70%;
	margin-right:5%;
	background:#366eab;
	border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	 -webkit-box-shadow:inset 0px 1px 0px rgba(105, 148, 196, 0.63), 0px 1px 1px #010911;
		-moz-box-shadow:inset 0px 1px 0px rgba(105, 148, 196, 0.63), 0px 1px 1px #010911;
		-o-box-shadow:inset 0px 1px 0px rgba(105, 148, 196, 0.63), 0px 1px 1px #010911;
		 box-shadow:inset 0px 1px 0px rgba(105, 148, 196, 0.63), 0px 1px 1px #010911;
}
.glossy-social-buttons{
	float:left;
	width:25%;
}
.glossy-social-buttons li{
	float:left;
}
.glossy-social-buttons li:first-child{
	margin-left:0;
}
.glossy-social-buttons li a{
   	display:block;
   	width:33px;
   	height:33px;
   	background:url(../images/sprite.png) no-repeat;
}
.glossy-social-buttons li a.facebook{
	background-position:-7px -294px;
}
.glossy-social-buttons li a.twitter{
	background-position:-40px -294px;
}
.glossy-social-buttons li a.dribble{
	background-position:-7px -327px;
}
.glossy-social-buttons li a.googleplus{
	background-position:-40px -327px;
}
.glossy-social-buttons li a.flickr{
	background-position:-7px -360px;
}
.glossy-social-buttons li a.forrst{
	background-position:-40px -360px;
}
.glossy-social-buttons li a.tumblr{
	background-position:-7px -393px;
}
.glossy-social-buttons li a.vimeo{
	background-position:-40px -393px;
}
.glossy-social-buttons li a.deviantart{
	background-position:-7px -426px;
}
.glossy-social-buttons li a.delicious{
	background-position:-40px -426px;
}
.like_buttons li{
	display:block;
	margin-top:5px;
}
.like_buttons li a{
	display:block;
	width:70px;
	height:27px;
	background:url(../images/sprite.png) no-repeat;
}
.like_buttons li a.tweets{
	background-position:-5px -464px;
}
.like_buttons li a.f_likes{
	background-position:-5px -494px;
}
.like_buttons li a.gplus_likes{
	background-position:-5px -525px;
}
.profile_picture{
	text-align:center;
	padding:1em 0;
}
.profile_picture a{
	display:block;
}
.profile_picture > a > img{
	display: block;
	margin:0.5em auto;
	background:#355d73;
	padding:4px;
	border:4px solid #66ccff;
    border-radius:8em;
    -webkit-border-radius:8em;
    -moz-border-radius:8em;
    -o-border-radius:8em;
}
.profile_picture_name h2 a{
	font-size:1.2em;
	color:#FFF;
	font-weight:700;
}
.profile_picture_name p a,.profile_picture p a{
	font-size:0.75em;
	color:#76CDFF;
	line-height:1.6em;
	font-weight:600;
}
.profile_picture_name p a:hover,.profile_picture p a:hover{
	color:#B5E4FF;
}
.follow{
	background:#264a7e;
	padding:1em 0;
	border-top:1px solid #497CB1;
	text-align:center;
	border-radius:0 0 3px 3px;
	-webkit-border-radius:0 0 3px 3px;
	-o-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
}
.follow a{
	padding:10px 40px; 
	background:#4884bf;
	font-size:0.85em;
	color:#FFF;
	font-weight:600;
	text-transform:uppercase;
	display:inline-block;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	text-shadow:0px 1px 0px rgba(0, 0, 0, 0.31);
}
.follow a:hover{
	background:#0B223A;
}
.cartton-photos{
	background:#061521;
	padding:2%;
}
.cartton-photos li{
	float:left;
	width:29.3333%;
	padding:2%;
}
.cartton-photos li a{
	display:block;
}
.cartton-photos li a img{
	display:block;
	width:100%;
}
/******** Content Middle ***********/
.grid1{
	float:left;
	width:100%;
}
/********** Sign In to your account *********/
.sign-in{
	margin-top:10px;
	padding:15px;
	background:#2da5da;
 }
.sign_in h3{
	color: #FFF;
	font-size: 1.2em;
	font-weight:200;
}
.sign_in span{
	background:#FFF;
	padding:8px;
	margin:20px 0px;
    display:block;
    outline:none;
    transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
 }
.sign_in span i{
	width:26px;
	height:26px;
	display:inline-block;
	background:url(../images/sprite.png) no-repeat;
	vertical-align: sub;
}
.sign_in span i.user{
	background-position:-7px -7px;
}
.sign_in span i.lock{
	background-position:-7px -45px;
}
.sign_in input[type="text"],.sign_in input[type="password"]{
	padding:5px 8px;
    color:#111;
    font-size:0.85em;
    background:none;   
    outline:none;
    border:none;
    margin:0px auto;
    width:75%;  
    -webkit-apperance:none;
    font-family: 'baker-signet-web', 'Baker', 'Open Sans', sans-serif;
}
.sign_in input[type="submit"]{
	float:right;
	padding:15px 3em 15px 3.5em;
	color:#D7E9F5;
	font-size:0.85em;
	font-weight:200;
	cursor:pointer;
	border:none;
	outline:none;
    background:#025a85 url(../images/login-arrow.png) no-repeat 10px;       
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-apperance:none;
	font-family: 'baker-signet-web', 'Baker', 'Open Sans', sans-serif;
}
.sign_in input[type="submit"]:hover{
	   color:#FFF;
       background:#004769 url(../images/login-arrow.png) no-repeat 10px;
}
/******** skills ***********/
.skills{
	margin-top:10px;
	padding:15px;
	background:#2da5da;
}
.skills h3{
	font-size:1.2em;
	color:#FFF;
	padding-bottom:30px;
}
.skills li:first-child{
	margin-top:0;
}
.skills li{
	margin-top:20px;
}
.clearfix{
	padding-bottom:5px;
}
.skills p{
	  color: #fff;
      font-size:0.9em;
}
.skills p.percentage{
	padding:5px;
	font-size:0.75em;
	background:#5dc9e6;
	position: absolute;
	right:-14px;
	top: -35px;
}
.skills p.percentage:after {
	content: '';
	position: absolute;
	left:8px;
	bottom: -5px;
	border-left:5px solid rgba(0, 0, 0, 0);
	border-right:5px solid rgba(0, 0, 0, 0);
	border-top:5px solid #5dc9e6;
}
.progress {
  background:#336699;
  height:10px;
}
.progress-bar {
	background:#d7ed00;
	height:10px;
	position:relative;
}
.email-button{
	margin-top:2em;
}
.skills p.email_desc{
	float:left;
	width:40%;
}
.skills p.email_desc a{
	color:#FFF;
	line-height:1.8em;
}
.skills p.email_button{
	float:right;
}
.skills p.email_button a{
	display:inline-block;
	padding:15px 2em 15px 3.5em;
	color:#FFF;
	font-size:0.95em;
	font-weight:200;
	cursor:pointer;
	border:none;
	outline:none;
    background:#025a85 url(../images/login-arrow.png) no-repeat 10px;       
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-apperance:none;
	font-family: 'baker-signet-web', 'Baker', 'Open Sans', sans-serif;
}
.skills p.email_button a:hover{
	background:#014A6F url(../images/login-arrow.png) no-repeat 10px;
}
.tag-list{
	margin-top:10px;
}
.tag-list a{
	background:#5dc9e6;
	float:left;
	padding:10px 15px;
	font-size:0.8em;
	color: #FFF;
	margin-bottom:5px;
	margin-right:5px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease; 
 }
.tag-list a:hover {
	background:#34BFE4;
}
.grid2{
	float:left;
	width:100%;
	margin:10px 0;
}
/******* Tweets *******/
.tweets_list li{
	color:#FFF;
	font-size:0.8em;
	font-weight:500;
	line-height:1.8em;
	margin-top:3px;
	padding:10px;
}
.tweets_list li:first-child{
	margin-top:0;
}
.tweets_list li.red{
	background:#cf2555;
}
.tweets_list li.green{
	background:#27c1b9;
}
.tweets_list li.blue-color{
	background:#5dc9e6;
}
.tweets_list li i{
	float:left;
	width:45px;
	height:45px;
	display:block;
	background:url(../images/sprite.png) no-repeat -62px -11px;
}
.tweets_list li span{
	float:left;
	margin-left:5%;
	width:78%;
}
.tweets_list li a{
	color:#FFF;
	font-weight:700;
}
.tweets_list li a:hover{
	text-decoration:underline;
}
/***** Social Likes **********/
.social_network_likes {
	margin-top:10px;
	text-align:center;
}
.social_network_likes li{
	float:left;
	width:25%;
}
.social_network_likes li a{
	display:block;
	color:#FFF;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
}
.social_network_likes li a p{
	padding:15px 0;
	font-size:0.8em;
}
.social_network_likes li a span{
	display:block;
	font-size:2em;
}
.social_network_likes li a{
	border-left:3px solid #041B70;
}
.social_network_likes li a div.followers{
	border-bottom:3px solid #041b70;
}
.social_network_likes li:first-child a {
	border-left:none;
}
.social_network_likes li a.tweets{
	background:#2da5da;
}
.social_network_likes li a.tweets:hover{
  background:#1A91C5;
}
.social_network_likes li a.facebook-followers{
	background:#b6c710;
}
.social_network_likes li a.facebook-followers:hover{
	background:#9EAD0B;
}
.social_network_likes li a.email{
	background:#27c1b9;
}
.social_network_likes li a.email:hover{
  background:#0BB1A8;
}
.social_network_likes li a.dribble{
	background:#cf2555;
}
.social_network_likes li a.dribble:hover{
  background:#B3103E;
}
.social_network_likes li a div.social_network{
	padding:10px 0;
}
.social_network i{
	width:45px;
	height:45px;
	display:block;
	background:url(../images/sprite.png) no-repeat;	
	margin:0 auto;
}
.social_network i.twitter-icon{
	background-position:-62px -6px;	
}
.social_network i.facebook-icon{
	background-position:-115px -6px;	
}
.social_network i.email-icon{
	background-position:-170px -6px;	
}
.social_network i.dribble-icon{
	background-position:-222px -7px;	
}
/***** Accordion ******/
.accordion{
	margin-top:10px;
}
.smk_accordion{
	position: relative;
}
.smk_accordion .accordion_in{ 
	position: relative;
	z-index: 10;
	margin-top:3px;
	overflow: hidden;
}
.smk_accordion .accordion_in:first-child{
	margin-top:0;
}
/* Head */
.smk_accordion .accordion_in .acc_head{
	position: relative;
	background:#2da5da;
	color:#FFF;
	padding:10px 20px;
	font-size: 16px;
	font-weight:200;
	display: block;
	cursor: pointer; 
}
.smk_accordion .accordion_in .acc_head label{
	float:right
}
/* Content */
.smk_accordion .accordion_in .acc_content{
	background:#edeef0;
	color: #7B7E85;
}
.acc_content li a{
	display:block;
	color:#666;
	font-size:0.95em;
	font-weight:200;
	border-top:1px solid #d5d6d8;
	padding:10px 20px 10px 40px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.acc_content li a:hover{
	color:#242424;
}
.smk_accordion .accordion_in .acc_head span{
	float:left;
}
.acc_content li a label,.smk_accordion .accordion_in .acc_head label{
	border:1px solid #ccc;
	color:#666;
	font-size:0.8em;
	float:right;
	padding: 4px;
	width: 15px;
	height: 15px;
	text-align:center;
	line-height: 16px;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-o-border-radius: 1em;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.smk_accordion .accordion_in .acc_head label{
	border:1px solid #1187BB;
	color:#FFF;
}
.accordion_in.acc_active .acc_head label,.acc_content li a:hover label{
	background:#ccc;
	border:1px solid #ccc;
	color:#FFF;
}
.smk_accordion .accordion_in h1:first-of-type,
.smk_accordion .accordion_in h2:first-of-type,
.smk_accordion .accordion_in h3:first-of-type,
.smk_accordion .accordion_in h4:first-of-type,
.smk_accordion .accordion_in h5:first-of-type,
.smk_accordion .accordion_in h6:first-of-type
{
	margin-top: 5px;
}
/* Icon expand */
.smk_accordion .accordion_in .acc_head .acc_icon_expand{
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -10px;
	background: url(../images/sprite.png) no-repeat -12px -88px;
}
.smk_accordion .accordion_in.acc_active .acc_head .acc_icon_expand{
	background: url(../images/sprite.png) no-repeat  -12px -105px;
}

/* JS requires */
.smk_accordion .accordion_in.acc_active .acc_content{ 
	display: block;
}
.smk_accordion .accordion_in.acc_active .acc_head{
	color:#6f6f6f;
	background:#edeef0;
}
.smk_accordion.acc_with_icon .accordion_in .acc_head{
	padding-left:40px;
}
/**** Chart *****/
.graph{
	background:#1b94cf;
	padding:15px 0;
	margin-top:10px;
	text-align:center;
}
.graph h3{
	font-size:1.2em;
	color:#FFF;
	font-weight:400;
	padding:0px 20px 15px 20px;
}
.graph h3 span{
	float:left;
}
.graph h3 label{
	float:right;
	font-size:13px;
}
.graph h3 label em{
	width:7px;
	height:7px;
	background:#FFF;
	display:inline-block;
	margin-right:5px;
}
.grid3{
	float:left;
	width:100%;
}
/***** Comments ******/
.commemts{
	float:left;
	width:100%;
}
.commemts li{
	background:#1b96d1;
	padding:3.4%;
	margin-top:4px;
}
.commemts li:first-child{
	margin-top:0;
}
.commemts ul.sub-child{
	margin-top:3px;
}
.commemts ul.sub-child li{
	margin-left:15px;
}
.author_img{
	float:left;
	width:30px;
	margin-right:10px;
}
.comment_desc{
	float:left;
	width:80%;	
}
.comment_desc h4 a{
	font-size:0.95em;
	color:#FFF;
	font-weight:600;
}
.comment_desc h4 a:hover{
	color:#D0EDFD;
	text-decoration:underline;
}
.comment_desc p{
	font-size:0.8em;
	color:#84CBEC;
	padding:3px 0;
	line-height:1.8em;
}
.comment_desc p a{
	font-size:0.85em;
	color:#0b5071;
	text-transform:uppercase;
	font-weight:700;
	padding:0 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border-left: 2px solid #0b5071;
}
.comment_desc p a:first-child{
	border-left:none;
	padding-left:0;
}
.comment_desc p a:hover{
	color:#FFF;
}
.comment_desc p span.likes a{
	float:right;
	color:#84CBEC;
	font-size:1em;
	padding:0;
	transition:none;
	font-weight:normal;
}
.comment_desc p span.likes a > i{
	width:15px;
	height:15px;
	display:inline-block;
	background: url(../images/sprite.png) no-repeat -44px -91px;
	vertical-align:sub;
}
.comment_desc p span.likes a:hover,.comment_desc p span.likes a.current{
	color:#FFF;	
}
.comment_desc p span.likes a:hover > i,.comment_desc p span.likes a.current > i{
	background-position:-44px -112px;
}
/******** News **********/
.news{
	float:left;
	width:100%;
	background:#edeef0;
	margin-top:10px;
}
.news h3{
	font-size:1em;
	color:#FFF;
	padding:10px 15px;
	background:#1b96d1;
}
.news li{
	padding:10px 3%;
	border-top:1px solid #dcdcdc;
}
.news li:first-child{
	border-top:none;
}
.news_img{
	float:left;
}
.news_img img{
	display:block;
}
.news_desc{
	float:left;
	width:76%;
	margin-left:5%;
}
.news_desc h4 a{
	font-size:0.8em;
	color:#1b96d1;
	font-weight:700;
	text-transform:uppercase;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.news_desc h4 a:hover{
	color:#1182B8;
	text-decoration:underline;
}
.news_desc p{
	font-size:0.8em;
	color:#77787a;
	line-height:1.6em;
	padding:5px 0;
}
/*** Slider *****/
.slider{
	background:#5dc9e6;
	margin-top:10px;
}
.slider_bottom{
	margin-top:10px;
}
.latest_tweets{
	float:left;
	width:94%;
	background:#5dc9e6;
	padding:3%;
}
.latest_tweets img{
	display:block;
	margin:0 auto;
}
.latest_tweets h3{
	font-size:1.2em;
	color:#FFF;
}
.tweet-desc p{
	font-size:0.8em;
	padding:8px 0;
	color:#FFF;
	line-height:1.8em;
}
.tweet-desc a{
	font-size:0.9em;
	display:block;
	color:#18759d;
}
.tweet-desc a:hover{
	color:#005D85;
	text-decoration:underline;
}
/**** Coursel *****/
.coursel{
	float:left;
	width:100%;
	margin:10px 0;
}
 .example_info .ocarousel_window {
        width:100%;
    }
 .ocarousel_window_slides div {
      text-align: center;
 }
.ocarousel {
    display: none;
 }
.ocarousel_window {
        overflow: hidden;
        white-space: nowrap;
        /* default size */
        width: 100%;
  }
.ocarousel_window_slides {
            position: relative;
            margin: 0 auto;
            overflow: hidden;
            width: 50000px;
            white-space: nowrap;
  }
.ocarousel_window_slides * {
            float: left;
            white-space: normal;
 }
 .prev_next{
 	  background:#1b94cf;
 	  position:relative;
 }
 .prev_next a{
 	padding:8px;
 	position:absolute;
 	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
 }
  .prev_next a:hover{
  	background:#2280AD;
 }
 .prev_next a.prev{
 	 left:0;
 	 border-right:2px ridge #329FD4;
 }
 .prev_next a.next{
 	right:0;
 	border-left:2px ridge #329FD4;
 }
 .prev_next a i{ 
  	width:30px;
  	height:30px;
  	display:block;
  	background: url(../images/sprite.png) no-repeat;
 }
 .prev_next a i.prev{ 
 	background-position:-78px -130px;
 }
 .prev_next a i.next{ 
 	background-position:-120px -130px;
 }

.ocarousel_indicators2 {
    height:25px;
    margin: 0 auto;
    width:95%;
    cursor:pointer;
    padding-top:22px;
 }
.metro_icons{
	float:left;
	width:100%;
}
.metro_icons p{
	font-size:1em;
	color:#FFF;
	padding:0 1em;
}
.games-icon,.contact-icon,.portfolio-icon{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.games-icon,.contact-icon{
	float:left;
	background:#cf2555;
	width:46%;
	margin-right:8%;
	padding:1em 0;
}
.games-icon:hover{
	background:#BE1948;
}
.games-icon img,.contact-icon img{
	display: block;
	margin:0 auto;
	padding:1em 0;
}
.contact-icon{
	margin-right:0;
	background:#1b96d1;
}
.contact-icon:hover{
	background:#1088C2;
}
.portfolio-icon{
	padding:1em 0;
	margin-top:10px;
	background:#1b96d1;
}
.portfolio-icon:hover{
	background:#1484B9;
}
.portfolio-icon img{
	padding:1em 0.6em;
}
/********** Content bottom ********/
.content_bottom{
	margin-top:10px;
}
.price_boxes{
	float:left;
	width:100%;
}
/*----price boxes-----*/
.priceing-tabel1{
 	width:100%;
	float: left;
	background:#025a85;
	text-align: center;
	margin-top:10px;
}
.priceing-tabel1 ul li{
  	list-style-type:none;
}
.priceing-header a{
	color: #FFF;
	font-size:3.2em;
	padding:0.5em 0;
	display: block;
	font-weight:500;
}
.priceing-header a span.dollor{
	font-size:1em;
	font-weight:200;
}
.priceing-header a span{
	font-size:25px;
	vertical-align:top;
	padding-left:7px;
}
.priceing-header a label{
	font-size: 0.3em;
	color:#95D7F8;
	margin-left:-25px;
}
.priceing-header a label.black{
	color:#111;
}
.priceing-header h4{
	background:#03547C;
	color: #FFF;
	text-transform: uppercase;
	padding:15px 0;
	font-size: 1.2em;
}
.priceing-tabel1 ul li a{
	color:#FFF;
	font-size:0.8em;
	padding:10px 0;
	display: block;
	border-top:1px solid #256C8F;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.priceing-tabel1 ul li a:hover{
	background:#03547C;
}
.priceing-tabel1-blue ul li a{
	border-top:1px solid #57B4DD;
}
.priceing-tabel1-blue ul li a:hover{
  background:#2B9DCF;	
}
.priceing-tabel1-green ul li a{
	border-top:1px solid #BFD110;
}
.priceing-tabel1-green ul li a:hover{
  background:#ADBD0F;	
}
.price-btn{
	color: #FFF;
	display: block;
	padding: 1em 0;
	font-size: 1.1em;
	background:#00405f;
	border-top:1px solid #256C8F;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.price-btn i.right-arrow{
	width:25px;
	height:25px;
	display:inline-block;
	vertical-align:middle;
	background:url(../images/login-arrow.png) no-repeat 0px -5px;
	margin-right:15px;
}
.price-btn:hover{
	color:#59B7E6;
}
.priceing-tabel1-blue{
	background:#2da5da;
}
.priceing-tabel1-blue h4{
	background:#2b9dcf;
}
.price-btn-blue{
  background:#2486b2;
  border-top:1px solid #57B4DD;	
}
.price-btn-blue:hover{
	color:#41C5FF;
}
.priceing-tabel1-green{
	background:#b6c710;
}
.priceing-tabel1-green h4{
	background:#adbd0f;
}
.price-btn-green{
	background:#7d890b;
	border-top:1px solid #BFD110;
}
.price-btn-green:hover{
	color:#BFD110;
}
.price-table-bottom{
	padding:1em 0;
}
.page-nav{
	text-align:center;
}
.page-pigmintation i{
	background:url(../images/sprite.png) no-repeat;
	height:16px;
	width:16px;
	display:block;
	vertical-align: middle;
}
.page-pigmintation i.prev{
	background-position:-81px -106px;
}
.page-pigmintation i.next{
	background-position:-122px -106px;
}
.page-pigmintation ul li{
	display: inline-block;
	float: left;
	margin:0 8px;
}
.page-pigmintation ul li a{
	display: block;
	color:#FFF;
	padding:3px;
	width:16px;
	height:16px;
	font-size:0.9em;
	font-weight:600;
	line-height:15px;
	text-align:center;
	border:2px solid #FFF;
	-webkit-border-radius:1em;
	-moz-border-radius:1em;
	-o-border-radius:1em;
	border-radius:1em;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.page-pigmintation li a:hover{
	background:#2da5da;
	border:2px solid #2da5da;
}
.top_page_nav{
	margin-bottom:15px;
}
.top_page_nav ul li a{
	background:#2da5da;
	border:2px solid #2da5da;
}
.top_page_nav ul li a:hover{
	border:2px solid #FFF;
	background:rgba(45, 165, 218, 0);
}
/******** Blog Entry *******/
.blog_entry{
	float:left;
	width:100%;
}
.blog_img img{
	display:block;
	width:100%;
}
.blog_posts{
	margin-top:25px;
}
.blog_date{
	float: left;
	width:22%;
	background:#2da5da;
}
.blog_posts figure {
	color: #FFF;
	text-align: center;
	padding:5px 0;
	font-size:2em;
	color: #FFF;
	display: block;
}
.blog_posts figure span {
	display:block;
	font-size:12px;
}
.blog_desc {
	float: left;
	margin-left:5%;
	width:73%;
	border-bottom:1px solid rgba(212, 207, 255, 0.16);
}
.blog_desc h4{
  color:#FFF;
  font-size:0.95em;
  line-height:1.6em;	
}
.blog_desc p{
	padding:8px 0;
	text-align:right;
}
.blog_desc p span a{
	font-size:11px;
	font-weight:600;
	text-transform:uppercase;
}
.blog_desc p span a:hover{
	text-decoration:underline;
}
.blog_desc p span.author a{
  color:#EE398A;	
}
.blog_desc p span.comment a{
	color:#3FC4FF;
}
.blog_button{
	float: left;
	width:30%;
}

.blog_button a{
	display:inline-block;
	padding:12px 1.5em 12px 2.5em;
	color:#FFF;
	font-size:0.85em;
	font-weight:300;
	cursor:pointer;
	border:none;
	outline:none;
    background:#2da5da url(../images/login-arrow.png) no-repeat 5px;       
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-apperance:none;
	font-family: 'baker-signet-web', 'Baker', 'Open Sans', sans-serif;
}
.blog_button a:hover{
	background:#0583BB url(../images/login-arrow.png) no-repeat 5px;
}
.blog_data {
	float: left;
	margin-left:5%;
	width:65%;
}
.blog_data p{
	font-size:13px;
	color:#BDCDE2;
	line-height:1.8em;
}
.copy-right{
	text-align:right;
	padding:1em 0;
}
.copy-right p{
	color:#FFF;
	font-size: 0.8em;
	line-height:1.8em;
}
.copy-right p a{
	color:#2BB4FD;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.copy-right p a:hover{
	color:#FFF;
	text-decoration:underline;
}